body{
  background-color: aquamarine;
  font-family:monospace;
  overflow-x: 10vw;
  word-wrap: break-word;
  display:block;
}

header{
  background-color:paleturquoise;
  display:inline-block;
  width:100% ;
}

header p{
  font-size:40px;
  font-family: monospace;
  padding-left: 5vw;
}

main{
  background-color:lightyellow;
  height:100vh;
}

footer{
  background-color:lightseagreen;
  text-align:center;
}

.emoji{
  font-family:'Segoe UI',sans-serif;
}

.navbar{
  background-color:lightcoral;
  float:right;
  width:100%;
}

.nav-button{
  font-family:serif;
  border: 0cm;
  font-size:30px;
  padding:5px;
  margin:3px;
  float:right;
  color:white;
  background-color:lightgreen;
}

.major{
  width:70%;
  background-color:white;
  float:left;
}

.minor{
  width:30%;
  background-color: lightcyan;
  float:right;
}

#display-img{
  float:right;
  margin-right: 5vw;
  margin-bottom: 0px;
  width:30%;
}
